<footer class="footer">
  <div style="background-image: url('assets/images/background.jpg');">
    <div class="container text-center">
      
      <a class="cc-twitter btn btn-link " href="https://twitter.com/StutiGautam6" target="_blank">
        <i class="fa fa-twitter fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-github btn btn-link " href="https://www.linkedin.com/in/stuti-gautam-948b9776/" target="_blank">
        <i class="fa fa-linkedin fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-github btn btn-link " href="https://github.com/Stuti1007" target="_blank">
        <i class="fa fa-github fa-2x " aria-hidden="true"></i>
      </a>
    </div>
    <div class="text-center text-muted">
      <p>&copy; All rights reserved.
      </p>
    </div>
  </div>
</footer>