<div class="container section">
    <h2>Banyanbrain Case Study</h2>
    <h4>Overview:</h4>
    <ul>
    <p> Banyanbrain is a digital marketing company. The aim of the company is to help businesses to embark on a
        successful
        digital marketing journey while enhancing their customer experience, improving operational efficiency, and
        increasing
        sales and revenue.
    </p>
    <p>Banyanbrain’ website was functional, but not very user friendly. It was full of bugs, stylistically outdated, and
        inconsistent. I aimed to simplify and beautify the design, while improving the user flow of most tasks. As a
        small
        business owner, we wanted to refresh the look and improve the website without breaking the bank. I assured the
        design was modular, simple, and easy for us to handle without constant assistance of a developer. The designs
        are
        fairly basic and unembellished, yet elegant and inviting.
    </p>
    </ul>
    <h4>Deliverables:</h4>
    <p>Interaction Design:</p>
    <ul><p>High-fidelity interactive prototypes for key tasks on Android, iOS and PCs.</p></ul>
    <p>UX/UI Design: </p>
    <ul>
        <li>Competitive analysis</li>
        <li>User surveys and one-on-one interviews</li>
        <li>Personas</li>
        <li>User journeys and task flows</li>
        <li>Site map</li>
        <li>Low-fidelity wireframes</li>
        <li>High-fidelity mockups and prototypes</li>
        <li>Design system and UI kit</li>
        <li>Usability tests and findings</li>
    </ul>
    <h4>Project Specifications:</h4>
     <p>Duration: 8 weeks</p>
    <h4>Tools:</h4>
    <ul>
        <li>Photoshop</li>
        <li>Illustrator</li>
        <li> Sketch </li>
    </ul>
        
    <h4>Research</h4>
    <ul>
        <p> My research first centred around the competition space in order to understand how other web apps are
            addressing similar issues. More than 80 user survey responses would help quantify what customers are
            paying for, and what they’re hoping to resolve. And lastly, one-on-one interviews would help me
            understand users’ journeys and specific issues the app would need to address.
        </p>
    </ul>
    
    <h4> Getting Closer to User-Centred Design </h4>
    <ul>
        <p> Superficially it might seem that everyone is interested in the same thing: saving money and time but
            upon closer inspection the user research made clear that there were divergent motivations.
        </p>
        <p> Creating personas helped bring some clarity to those divergences, which would become important reference
            points as functions developed.
        </p>
        <p> As research and design proceeded, I focused primarily on two personas because they represented heavy
            emphasis on two key functions: scrutinising usage reports and data to make contact decisions; and reliance
            on the web app’s service, case study, and portfolio for user choices.
        </p>
    </ul>
    
</div>