<div class="section" id="about">
  <div class="container">
    <div
      class="card aos-init aos-animate"
      data-aos="fade-up"
      data-aos-offset="10"
    >
      <div id="lower" class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>
              “Hi, I’m Stuti. I’m a UI/UX Designer. I design and develop stories and bring them to live in every digital form. 
              I'm focused on creating meaningful experience through design. I care about the details and consider the 
              motion design of affordances to crucial i creating effective, intuitive interface. I like Wire-framing and 
              prototyping- It helps me think through interaction model and new possibilities.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4">
                <strong class="text-uppercase">Date of Birth:</strong>
              </div>
              <div class="col-sm-8">July 10, 1990</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Email:</strong>
              </div>
              <div class="col-sm-8">stuti.gautam90@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Phone:</strong>
              </div>
              <div class="col-sm-8">+46 73 996 0349</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Address:</strong>
              </div>
              <div class="col-sm-8">Responsgatan 18, Hägersten 126 29</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Language:</strong>
              </div>
              <div class="col-sm-8">English, Hindi</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
