<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2016 - 2018</p>
              <div class="h5">Master's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Master Of Science</div>
               <h4 class="category">University of Texas at Dallas
               </h4>
               <ul>
                <li>Completed M.S in Computer Science with <b>3.33 CGPA</b>.</li>
                <li>Did a lot of projects ranging from web development to data science</li>
                <li>Learned basics of Data Structures and Algorithms</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2009 - 2013</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Engineering</div>
               <h4 class="category">Peoples Education Society College Of Engineering
               </h4>
               <ul>
                <li>Completed B.E in Computer Engineering with <b>3.33 CGPA</b>.</li>
                <li>Learned basics of Data Structures and Algorithms</li>
                <li>Involved in lot of extra curricular activities</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>