<div class="section" id="projects">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Projects</div>

    <div class="row">


      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Restaurant Website</h4>
              <h5 class="card-text"><b>Tools :</b> Figma </h5>
              <a href="https://www.figma.com/proto/fU02HS25bfUD07S5fKqhXQ/Food-Website?node-id=1-2&scaling=min-zoom&page-id=0%3A1&starting-point-node-id=1%3A2"
                class="btn btn-primary stretched-link">Figma Link</a>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Travel Booking App</h4>
              <h5 class="card-text"><b>Tool :</b> Figma </h5>

              <a href="https://www.figma.com/proto/vvu6KPvKQFFZWl6Mzk6F29/Untitled?node-id=0-443&scaling=min-zoom&page-id=0%3A1&starting-point-node-id=0%3A443"
                class="btn btn-primary stretched-link">Figma Link</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Social Media Page Design</h4>
              <h5 class="card-text"><b>Tools :</b> Adobe photoshop,SKetch </h5>
              <a href="https://www.instagram.com/banyanbrain/?hl=en"
                class="btn btn-primary stretched-link">Socialmedia Link</a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Website Design</h4>
              <h5 class="card-text"><b>Technology :</b> Adobe Photoshop, Illustration and Figma Wireframe </h5>
              <a href="https://banyanbrain.com/"
                class="btn btn-primary stretched-link">Website Link</a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Pharma Website Design</h4>
              <h5 class="card-text"><b>Tools :</b> Wordpress, Adobe Photoshop </h5>
              <a href="https://chemys-tro.com/"
                class="btn btn-primary stretched-link">Website Link</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Edtech Website Design</h4>
              <h5 class="card-text"><b>Tools :</b> Adobe Photoshop Illustrator, Sketch </h5>
              <a href="https://www.edzag.com/"
                class="btn btn-primary stretched-link">Website Link</a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Healthcare App Design</h4>
              <h5 class="card-text"><b>Tools:</b> Figma </h5>
              <a href="https://www.figma.com/community/file/1215980675624792419"
                class="btn btn-primary stretched-link">GithubLink</a>
            </div>
          </div>
        </div>
      </div>

      