<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>
            
     <div class="row">
    
    
       <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <div class="card-body">
          <h4 class="card-title">Ravi's-Portfolio</h4>
          <h5 class="card-text"><b>Technology :</b> Angular8,Bootstrap3 </h5>
          <a href="https://github.com/ravitejrai/Ravi-Portfolio" class="btn btn-primary stretched-link">GithubLink</a>
        
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <div class="card-body">
          <h4 class="card-title">Online-Stock-Selling/Buying</h4>
           <h5 class="card-text"><b>Technology :</b> Angular,Bootstrap3, Firebase </h5>
    
          <a href="https://github.com/Web2Integrators/onlinestock" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
    </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <div class="card-body">
          <h4 class="card-title">Twitter-Sentiment-Analysis</h4>
          <h5 class="card-text"><b>Technology :</b> Python, Kafka, elasticsearch, TwitterAPI </h5>
          <a href="https://github.com/ravitejrai/TwitterSentimentAnalysis" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
      </div>
    </div>
    </div>
    
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <div class="card-body">
         <h4 class="card-title">Bidding-Website</h4>
           <h5 class="card-text"><b>Technology :</b> JSP, JAVA, MYSQL, SSL/TLS, JDBC  </h5>
          <a href="https://github.com/ravitejrai/Bidding-Website" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
    </div>
    </div>
      </div>
    
       
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <div class="card-body">
          <h4 class="card-title">Game-Cheat-Detection</h4>
           <h5 class="card-text"><b>Technology :</b> Python, Spark, Machine Learning, Ensemble </h5>
          <a href="https://github.com/ravitejrai/DistributedLearning" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
        </div>
        </div>
      </div>
    
      <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
           <div class="card" >
        <div class="card-body">
         <h4 class="card-title">StackOverFlow-ish</h4>
           <h5 class="card-text"><b>Technology :</b> Angular </h5>
          <a href="https://github.com/ravitejrai/StackOverFlow-ish" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
        </div>
        </div>
        </div>
    
    
     <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
      <div class="card" >
        <div class="card-body">
          <h4 class="card-title">Friend-Recommendation</h4>
          <h5 class="card-text"><b>Technology :</b> Java, Hadoop </h5>
          <a href="https://github.com/ravitejrai/MapRed-FriendRecommendation" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
      </div>
    </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
        <div class="blog-entry">
       <div class="card" >
        <div class="card-body">
          <h4 class="card-title">Recommendation-System</h4>
           <h5 class="card-text"><b>Technology :</b> Scala, Pyspark </h5>
          <a href="https://github.com/ravitejrai/Recommendation-System" class="btn btn-primary stretched-link">GithubLink</a>
        </div>
        </div>
        </div>
    </div>
    
    <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
      <div class="blog-entry">
     <div class="card" >
      <div class="card-body">
        <h4 class="card-title">Hotel-Reservation-System</h4>
         <h5 class="card-text"><b>Technology :</b> Java Swing, JDBC </h5>
        <a href="https://github.com/ravitejrai/Hotel-Reservation-System" class="btn btn-primary stretched-link">GithubLink</a>
      </div>
      </div>
      </div>
  </div>
    
    
    </div>
    </div>
  </div>