<div class="section" id="Things-to-do">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Things-to-do</div>

    <div class="row">

      <div class="card-layout">
        <div class="ma-card">
          <div class="header middle">
            <iframe class="logo middle border-orange" src="http://whxaxes.github.io/slither/dist/"></iframe>
            <h5> Slither <span class="badge badge-secondary"> v 1.0.0</span></h5>
            <p> I do not claim to have made these games !!! </p>
            <div class="tag">Game</div>
          </div>

          <!-- card details -->
          <div class="body middle">
            <div class="row middle">
              <button routerLinkActive="active" data-toggle="tooltip" data-placement="bottom" (click)="onClick('games')">Play</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card-layout">
        <div class="ma-card">
          <div class="header middle">
            <iframe class="logo middle border-orange" src="https://www.youtube.com/embed/MtN1YnoL46Q"></iframe>
            <h5> Lemonade Duck <span class="badge badge-secondary"> v 1.0.0</span></h5>
            <p> videos taken from youtube </p>
            <div class="tag">Video</div>
          </div>

          <!-- card details -->
          <div class="body middle">
            <div class="row middle">
              <button routerLinkActive="active" data-toggle="tooltip" data-placement="bottom" (click)="onClick('videos')">Play</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card-layout">
        <div class="ma-card">
          <div class="header middle">
            <iframe class="logo middle border-orange" src="https://www.nytimes.com/2020/09/04/us/california-heat-wave.html"></iframe>
            <h5> Heat Wave <span class="badge badge-secondary"> v 1.0.0</span></h5>
            <p> Popular articles on NY Times </p>
            <div class="tag">Article</div>
          </div>

          <!-- card details -->
          <div class="body middle">
            <div class="row middle">
              <button routerLinkActive="active" data-toggle="tooltip" data-placement="bottom" (click)="onClick('articles')">Read</button>
            </div>
          </div>
        </div>
      </div>

      <div class="card-layout">
        <div class="ma-card">
          <div class="header middle">
            <iframe class="logo middle border-orange" src="https://www.youtube.com/embed/MtN1YnoL46Q"></iframe>
            <h5> Hahaha <span class="badge badge-secondary"> v 1.0.0</span></h5>
            <p> Hilarious Jokes </p>
            <div class="tag">Jokes</div>
          </div>

          <!-- card details -->
          <div class="body middle">
            <div class="row middle">
              <button routerLinkActive="active" data-toggle="tooltip" data-placement="bottom" (click)="onClick('jokes')">Read</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>