<div class="container section">
<h2>Edzag Case Study </h2>
<h4>Overview:</h4>
<ul>
    The purpose of the Edzag, India  is to build a Digital Educational Institute. I was contacted by the board member to 
    help with the website design as a part of the overall rebranding of the organisation.
</ul>
<h4>Problem</h4>
<ul>
    Edzag wants to develop a web app that will help students, teachers and parents to track educational academic programs. 
    Apart from these general features, they also want a platform which helps the institute to build and showcase digital 
    Institute, brand building, increase revenue with the support of Edzag Studio program and Asset monetization, receive 
    massive educational info and delivery platform through Edzag Exchange. 
</ul>
<h4>Research Plan</h4>
<ul>
    <p> Research enables me to dig deep into my understanding of users - not only their immediate frustrations, but also 
        their hopes, fears, abilities, limitations, reasoning, and goals. It lays essential foundations for creating 
        solutions in later stages.</p>
    <p>To ensure the research stays on track and better guide the responsive website design later, it is important to 
        create a research plan before diving into the research phase. I listed research goals, research questions, 
        assumptions, methodologies, participants, and timeline in my research plan.
    </p>
</ul>
<h4>Research Goals</h4>
<ul>
    <li>Understand the market of platforms related to education</li> 
    <li>Identify the target audience of Edzag</li>
    <li>Learn about how the main competitors of Edzag are catering to customers’ needs, as well as their strengths and weaknesses</li>
    <li>Get to know how institute are managing their academic programs</li>

</ul>




